{% extends 'admin/base.html.twig' %}

{% block content %}
    {{ include('flashes.html.twig') }}

    {% form_theme form with ['form.html.twig', 'form_inline.html.twig'] %}
    {{ form(form) }}

    <div class="overflow-x-auto mt-6">
        <div class="text-gray-500 mb-2">
            Ukupno rezultata: <span class="font-bold">{{ damagedEducators.total }}</span>
        </div>

        <table class="table rounded-xl border border-base-200">
            <thead class="bg-gray-100">
                <tr>
                    <th>
                        {{ include(
                            'sort.html.twig',
                            { 'path': 'admin_damaged_educator_list', 'sort': 'id', 'default_direction': 'desc', 'title': 'ID' }
                        ) }}
                    </th>
                    <th>
                        {{ include(
                            'sort.html.twig',
                            { 'path': 'admin_damaged_educator_list', 'sort': 'period', 'title': 'Period', 'title_icon': 'ti-calendar-event' }
                        ) }}
                    </th>
                    <th>
                        {{ include(
                            'sort.html.twig',
                            { 'path': 'admin_damaged_educator_list', 'sort': 'name', 'title': 'Ime', 'title_icon': 'ti-user' }
                        ) }}
                    </th>
                    <th>
                        {{ include(
                            'sort.html.twig',
                            { 'path': 'admin_damaged_educator_list', 'sort': 'school', 'title': 'Škola', 'title_icon': 'ti-building' }
                        ) }}
                    </th>
                    <th>
                        {{ include(
                            'sort.html.twig',
                            { 'path': 'admin_damaged_educator_list', 'sort': 'amount', 'title': 'Cifra', 'title_icon': 'ti-cash' }
                        ) }}
                    </th>
                    <th>
                        {{ include(
                            'sort.html.twig',
                            { 'path': 'admin_damaged_educator_list', 'sort': 'accountNumber', 'title': 'Broj računa', 'title_icon': 'ti-credit-card' }
                        ) }}
                    </th>
                    <th>
                        {{ include(
                            'sort.html.twig',
                            { 'path': 'admin_damaged_educator_list', 'sort': 'updatedAt', 'title': 'Kreiran', 'title_icon': 'ti-calendar-event' }
                        ) }}
                    </th>
                    <th>
                        {{ include(
                            'sort.html.twig',
                            { 'path': 'admin_damaged_educator_list', 'sort': 'status', 'title': 'Status' }
                        ) }}
                    </th>
                    <th>
                        {{ include(
                            'sort.html.twig',
                            { 'path': 'admin_damaged_educator_list', 'sort': 'createdBy', 'title': 'Delegat', 'title_icon': 'ti-user-cog' }
                        ) }}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for damagedEducator in damagedEducators.items %}
                <tr class="hover:bg-gray-100">
                    <td>{{ damagedEducator.id }}</td>
                    <td>{{ damagedEducator.period|format_period(true) }}</td>
                    <td>
                        <div>{{ damagedEducator.name }}</div>
                        <div class="text-gray-500">{{ damagedEducator.city.name }}</div>
                    </td>
                    <td>
                        <a href="{{ path('admin_school_details', { 'id': damagedEducator.school.id }) }}" class="link link-primary link-hover">
                            {{ damagedEducator.school.name }}
                        </a>
                    </td>
                    <td>{{ damagedEducator.amount|number_format }}</td>
                    <td class="whitespace-nowrap">{{ damagedEducator.accountNumber|account_number_format }}</td>
                    <td class="whitespace-nowrap">{{ damagedEducator.createdAt|date('H:i d.m.Y.') }}</td>
                    <td>
                        {% if damagedEducator.isStatusDeleted %}
                            <div class="whitespace-nowrap">{{ damagedEducator.status|damaged_educator_status|raw }}</div>
                            <div class="text-gray-500 mt-2">{{ damagedEducator.statusComment }}</div>
                        {% else %}
                            <div class="whitespace-nowrap">{{ damagedEducator.status|damaged_educator_status|raw }}</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if damagedEducator.createdBy %}
                            <div>{{ damagedEducator.createdBy.fullName }}</div>
                            <a href="{{ path('admin_user_details', { 'id': damagedEducator.createdBy.id }) }}" class="link link-primary link-hover">
                                {{ damagedEducator.createdBy.email }}
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% import "macro.html.twig" as macro %}
    {{ macro.pagination('admin_damaged_educator_list', damagedEducators.total_pages, damagedEducators.current_page) }}
{% endblock %}
